.meal-container-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    width: 100%;
}

.meal-container-home {
    display: flex;
    flex-direction: column;
    width: 93%;
    border: 2px solid var(--icon-purple);
    border-radius: 25px;
    height: 580px;
}

.meal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.meal-title {
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.meal-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 25px;
}

.meal-about-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meal-image {
    padding-bottom: 20px;
}

.meal-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.meal-ingredients {
    text-align: center;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 370px;
    max-width: 500px;
}

td {
    padding-right: 25px;
}

.meal-instructions {
    width: 80%;
    padding: 20px 0px;
    text-align: justify;
}

.meal-buttons-container {
    padding-top: 30px;
}

.meal-alert {
    text-align: center;
}
