.header-content {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
    box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
    position: relative;
}

.header-logo-title {
    font-size: 35px;
}

.header-logo-icon {
    font-size: 45px;
    color: var(--header-logo-icon);
    vertical-align: bottom;
    margin-bottom: 3px;
}

.header-links {
    font-size: 20px;
}
